<h1>List all Items</h1>

<p>
	<%= link_to "Create a test", new_test_path %>
</p>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tbody>
		<% @tests.each do |test| %>
		<tr>
			<td> <%= test.name %></td>
			<td> <%=  test.description %></td>
			<td> <%= link_to "Edit", edit_test_path(test) %> </td>
			<td> <%= link_to "Show", test_path(test) %> </td>

		</tr>
		<% end %>
	</tbody>
</table>